/**Style Sheet Begins**/
html, body {
	width: 100%;
	background-color: #000;
	padding: 0;
	margin: 0;
	font-family: arial;
	-webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

#wrapper {
	width: 1024px;
	height: 768px;
	padding: 0; 
	margin: 0 auto;
	background-color: white;
}

#wrapper .clear {
	width: 1024px;
	height: 1px;
	clear: both;
}

ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

::-webkit-scrollbar {
	width: 10px;
} /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-track {
	background-color: #c5c5c5;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2); 
} /* this will style the thumb, ignoring the track */

body.fat-scrollbar ::-webkit-scrollbar {
	width: 20px !important;
}

/**@fontface**/

@font-face {
    font-family: 'HelveticaNeueLTStd55Roman';
    src: url('../fonts/helveticaneueltstd-roman.eot');
    src: url('../fonts/helveticaneueltstd-roman.eot') format('embedded-opentype'),
         url('../fonts/helveticaneueltstd-roman.woff') format('woff'),
         url('../fonts/helveticaneueltstd-roman.ttf') format('truetype'),
         url('../fonts/helveticaneueltstd-roman.svg#HelveticaNeueLTStd55Roman') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueLTPro85Heavy';
    src: url('../fonts/helveticaneueltpro-hv.eot');
    src: url('../fonts/helveticaneueltpro-hv.eot') format('embedded-opentype'),
         url('../fonts/helveticaneueltpro-hv.woff') format('woff'),
         url('../fonts/helveticaneueltpro-hv.ttf') format('truetype'),
         url('../fonts/helveticaneueltpro-hv.svg#HelveticaNeueLTPro85Heavy') format('svg');
}

@font-face { 
 font-family: 'bebasneue-webfont';
    src: url('../fonts/bebasneue-webfont.eot');
    src: url('../fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue-webfont.woff') format('woff'),
         url('../fonts/bebasneue-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue-webfont.eot.svg#bebasneue-webfont') format('svg'); }

@font-face { 
 font-family: 'archivoblack-regular-webfont';
    src: url('../fonts/archivoblack-regular-webfont.eot');
    src: url('../fonts/archivoblack-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/archivoblack-regular-webfont.woff') format('woff'),
         url('../fonts/archivoblack-regular-webfont.ttf') format('truetype'),
         url('../fonts/archivoblack-regular-webfont.eot.svg#archivoblack-regular-webfont') format('svg'); }

@font-face { 
 font-family: 'bebas___-webfont';
    src: url('../fonts/bebas___-webfont.eot');
    src: url('../fonts/bebas___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas___-webfont.woff') format('woff'),
         url('../fonts/bebas___-webfont.ttf') format('truetype'),
         url('../fonts/bebas___-webfont.eot.svg#bebas___-webfont') format('svg'); }

/**top**/

#top {
	width: 1024px;
	margin: 0;
	padding: 0;
}

#top.logo, #top .logo a, #top .logo img {
	padding: 0;
	margin: 0;
	width: 200px;
	float: left;
	height: 68px;
	text-decoration: none;
	background-repeat: repeat-y;
	background-image: url(../images/sidebar_bg.png);
}

#top .logo a:hover  {
	opacity: .5;
}

#topbar {
	width: 824px;
	height: 33px;
	float: right;
	background: #ebebeb;
}

#topbar a {
	text-decoration: none;
}

#top .clear {
	width: 824px;
	height: 33px;
	clear: both;
}


#tab {
    color: white;
    font: normal 13px bebas___-webfont;
    overflow: hidden;
    width: 542px;
    float: left;
    letter-spacing: 2px;
    text-shadow: 0px 2px 0px rgba(70, 70, 70, 0.55);
}

#tab li {
    float: left;
}

#tab li a {
    padding: 8px 0 8px 45px;
    margin: 0;
    color: white;
    float: left;
    position: relative;
    display: block;
    background-color: #00aeef;
}

#tab li a:after {
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
    width: 0;
    height: 0;
    overflow: hidden;
    border-top: 50px solid transparent;
           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid #00aeef;
    content: "";
    float: left;
    position: absolute;
    display: block;
}

#tab li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

#tab li:first-child a {
    padding-left: 10px;
}

#tab li:nth-child(2) a {
    background: #00aeef;
}

#tab li:nth-child(2) a:after {
    border-left-color: #00aeef;
}

#tab li:nth-child(3) a {
    background: #00aeef;
}

#tab li:nth-child(3) a:after {
    border-left-color: #00aeef;
}

#tab li:nth-child(4) a {
    background: #00aeef;
}

#tab li:nth-child(4) a:after {
    border-left-color: #00aeef;
}

#tab li:nth-child(5) a {
    background: #00aeef;
}

#tab li:nth-child(5) a:after {
    border-left-color: #00aeef;
}

#tab li:last-child a {
    background: #00aeef;
}

#tab li:last-child a:after {
    border-left-color: #00aeef;
}

#tab li a:hover {
    background: #008dc3;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#tab li a:hover:after {
    border-left-color: #008dc3;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#tab .tab-block-active a {
    background-color: orange;
}

#tab .tab-block-active a:after {
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid orange;
}

#tab .tab-block-active a:hover {
    background-color: orange;
}

#tab .tab-block-active a:hover:after {
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid orange;
}

.admin {
	margin: 0;
	padding: 10px 0 8px 0;
	width: 150px;
	color: #969696;
	font: normal 12px arial;
	text-align: center;
	float: left;
	border-right: 1px dashed #ccc;
}

.dropdown {
	padding: 0;
	margin: 0;
	float: left;
}

.menu{
	width: 120px;
	text-decoration: none;
	padding: 9px 0 7px 10px;
	margin: 0;
	color: #898989;
	display: block;
	font: normal 14px verdana;
	background: url(../images/DD-arrow.png) no-repeat right center; 
}

.menu:hover {
	color: orange;
	background-color: #f4f4f4;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	display: inline-table;
}

nav ul:after {
	content: ""; 
	clear: both; 
	display: block;
}

nav ul ul {
	display: none;
	background-color: #ebebeb;
	border: 1px solid #cccccc;
}

nav ul ul li:hover {
	cursor: default;
	color: orange;
	background-color: #f4f4f4;
}

nav ul ul .photo {
	float: none;
	color: #898989;	
	position: relative;
	padding: 10px 0 10px 40px;
	font: normal 12px verdana;
	background: url(../images/icon_photo.png) no-repeat left center;
}

nav ul ul .share {
	color: #898989;
	float: none; 
	position: relative;
	padding: 10px 0 10px 40px;
	font: normal 12px verdana;
	background: url(../images/icon_share.png) no-repeat left center;
}

nav ul ul .settings {
	float: none; 
	color: #898989;
	position: relative;
	padding: 10px 0 10px 40px;
	font: normal 12px verdana;
	background: url(../images/icon_setting.png) no-repeat left center;
}

nav ul li:hover > ul {
	display: block;
}



/**Sidebar**/

#sidebar {
	float: left;
	width: 200px;
	height: 700px;
	padding: 0;
	margin: 0;
	background-repeat: repeat-y;
	background-image: url(../images/sidebar_bg.png);
}

#case_number {
	border-top: 1px solid #ababab;
	border-bottom: 1px solid #ababab;
	padding: 9px 0 9px 29px;
	margin: 0;
	text-transform: uppercase;
	background-repeat: repeat-y;
	background-color: #f4f4f4;
	background-image: url(../images/case_bg.gif);
}

#case_number ul {
	line-height: 22px;
}

#case_number .case {
	color: white;
	font: normal 14px bebas___-webfont;
}

#case_number .number {
	color: #0c4f66;
	font-size: 24px;
	font-family: archivoblack-regular-webfont;
	text-shadow: 0px 2px 0px rgba(212, 239, 255, 0.55);
}

/**Info Boxes**/

#info {
	padding: 10px 0 10px 12px;
	margin: 0;
	color: #555555;
	font: normal 11px arial;
	background-color: #f6f6f6 !important;
	background: url(../images/shadow.png) right repeat-y;
	border-top: 1px dashed #b8b8b8;
	border-bottom: 1px dashed #b8b8b8;
}

#info li{
	line-height: 16px;
	margin: 10px 0 5px 0;
}

#info span{
	text-transform: uppercase;
	font-weight: bold;
}

#info a{
	color: #00a1df;
	font-size: 12px;
	font-weight: bold;
}

#info a:hover{
	color: orange;
}


/** sidebar menu**/

#side_bar_menu {
	width: 190px;
	height: 510px;
	padding: 0;
	margin: 0 0 0 10px;
	font-family: bebasneue-webfont;
	letter-spacing: 2px;
}

#side_bar_menu .accordionButton{
	background: transparent;
	padding: 14px 0 14px 19px;
	margin-bottom: 1px;
	display: block;	
	font-size: 15px; 
	color: #787878;
	cursor: default;
	-webkit-transition:0.2s ease;
    -moz-transition:0.2s ease;
    -ms-transition:0.2s ease;
    -o-transition:0.2s ease;
    transition:0.2s ease;
	text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.55);
}

#side_bar_menu .accordionButton:hover{
	background: white url(../images/dot.gif) left no-repeat;
	-moz-box-shadow: -5px 3px 11px 0px #ccc;
    -webkit-box-shadow: -5px 3px 11px 0px #ccc;
    box-shadow: -5px 3px 11px 0px #ccc;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px; /* future proofing */
	-khtml-border-radius: 5px 0 0 5px; /* for old Konqueror browsers */
	 -webkit-transition-duration:0.5s;
    -moz-transition-duration:0.5s;
    -ms-transition-duration:0.5s;
    -o-transition-duration:0.5s;
    transition-duration:0.5s;
}

#side_bar_menu .accordionContent{
	width: 190px;
	margin: 0;
	padding: 17px 0 17px 0;
	border-bottom: 1px solid #b8b8b8;
	background: #f4f4f4;
    -moz-box-shadow: inset 0 0 16px #ccc;
    -webkit-box-shadow: inset 0 0 16px #ccc;
    box-shadow: inset 0 0 16px #ccc;
}

#side_bar_menu .accordionContent button{
	display: block;
	width: 144px;
	text-decoration: none;
	text-align: center;
	text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.55);
	margin: 0 auto;
	padding: 10px 0 10px 0;
	font-weight: bold;
	color: #464646;
	border: 1px solid #b8b8b8;
	-moz-box-shadow: inset 0px -2px 0px #939393;
    -webkit-box-shadow: inset 0px -2px 0px #939393;
    box-shadow: inset 0px -2px 0px #939393;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px; 
	-khtml-border-radius: 3px 3px 3px 3px; 
	background: #efefef; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0NyUiIHN0b3AtY29sb3I9IiNlZmVmZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNjYmNiY2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #efefef 10%, #cbcbcb 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#efefef), color-stop(80%,#cbcbcb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #efefef 10%,#cbcbcb 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #efefef 10%,#cbcbcb 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #efefef 10%,#cbcbcb 80%); /* IE10+ */
	background: linear-gradient(to bottom,  #efefef 10%,#cbcbcb 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#cbcbcb',GradientType=0 ); /* IE6-8 */
	-webkit-transition:0.2s ease;
    -moz-transition:0.2s ease;
    -ms-transition:0.2s ease;
    -o-transition:0.2s ease;
    transition:0.2s ease;
}

#side_bar_menu .accordionContent button:hover{
	color: white;
	text-shadow: 0px 2px 0px rgba(70, 70, 70, 0.55);
	background: #ffb76b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0OCUiIHN0b3AtY29sb3I9IiNmZmI3NmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZjdmMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffb76b 10%, #ff7f04 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#ffb76b), color-stop(80%,#ff7f04)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb76b 10%,#ff7f04 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb76b 10%,#ff7f04 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb76b 10%,#ff7f04 80%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb76b 10%,#ff7f04 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-8 */
	 -webkit-transition-duration:0.5s;
    -moz-transition-duration:0.5s;
    -ms-transition-duration:0.5s;
    -o-transition-duration:0.5s;
    transition-duration:0.5s;
}

/** sidebar menu 02**/

#side_bar_menu02 {
	width: 190px;
	height: 505px;
	padding: 0;
	margin: 0 0 12px 10px;
	font-family: bebasneue-webfont;
	letter-spacing: 2px;
}

#side_bar_menu02 .accordionButton{
	background: transparent;
	padding: 14px 0 14px 19px;
	margin-bottom: 1px;
	display: block;	
	font-size: 15px; 
	color: #787878;
	cursor: default;
	-webkit-transition:0.2s ease;
    -moz-transition:0.2s ease;
    -ms-transition:0.2s ease;
    -o-transition:0.2s ease;
    transition:0.2s ease;
	text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.55);
}

#side_bar_menu02 .accordionButton:hover{
	background: white url(../images/dot.gif) left no-repeat;
	-moz-box-shadow: -5px 3px 11px 0px #ccc;
    -webkit-box-shadow: -5px 3px 11px 0px #ccc;
    box-shadow: -5px 3px 11px 0px #ccc;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px; /* future proofing */
	-khtml-border-radius: 5px 0 0 5px; /* for old Konqueror browsers */
	 -webkit-transition-duration:0.5s;
    -moz-transition-duration:0.5s;
    -ms-transition-duration:0.5s;
    -o-transition-duration:0.5s;
    transition-duration:0.5s;
}

#side_bar_menu02  .accordionContent{
	width: 190px;
	max-height: 330px;
	overflow-x: hidden;
	margin: 0;
	padding: 0 0 1px 0;
	border-bottom: 1px solid #b8b8b8;
	background: #f4f4f4;
    -moz-box-shadow: inset 0 0 16px #ccc;
    -webkit-box-shadow: inset 0 0 16px #ccc;
    box-shadow: inset 0 0 16px #ccc;
}

#side_bar_menu02  .accordionContent ul {
	margin: 0;
	padding: 0;
}

#side_bar_menu02 .accordionContent li{
	text-align: center;
	width: 190px;
	min-height: 65px;
	border-top: 1px dashed #b8b8b8;
	padding: 5px 0 5px 0;
	margin: 0;
}

#side_bar_menu02 .accordionContent li:first-child{border: none;}

#side_bar_menu02 .accordionContent a{
	text-decoration: none;
	font-size: 11px;
	color: #848484;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	 -webkit-transition-duration:0.5s;
    -moz-transition-duration:0.5s;
    -ms-transition-duration:0.5s;
    -o-transition-duration:0.5s;
    transition-duration:0.5s;
}
.isMobile #side_bar_menu02 .accordionContent a {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
}

#side_bar_menu02 .accordionContent a:hover{
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
}

#side_bar_menu02 .accordionContent li:hover{
	background: white;
	-moz-box-shadow: inset 0 0 16px #ccc;
    -webkit-box-shadow: inset 0 0 16px #ccc;
    box-shadow: inset 0 0 16px #ccc;
	filter: none;
}

#side_bar_menu02 .accordionContent section {
	display: block;
	width: 94.5px;
	float: left;
	padding: 5px 0 5px 0;
	margin: 0;
	text-align: center;
	line-height: 12px;
}

#side_bar_menu02 .accordionContent section:hover {
	background: white;
	 -moz-box-shadow: inset 0 0 16px #ccc;
    -webkit-box-shadow: inset 0 0 16px #ccc;
    box-shadow: inset 0 0 16px #ccc;
}

/**Main Area**/
#main_wrapper {
	clear:both;
	padding: 0;
	margin: 0;
	width: inherit;
} 

#content {
	width: 824px;
	float:right;
	margin: 0;
	padding: 0;
}

.data {
	width: 804px;
	height: 568px;
	margin: 0 0 0 7px;
	padding: 0;
	overflow-x: hidden;
}

.clear {
	clear: both; 
	width:400px; 
	height: 1px;
	margin: 0;
	padding: 0;
}

#content .content-header{
	margin: 0 0 0 7px;
	padding: 0 0 5px 0;
	width: 804px; 
	height: 35px;
}

#content .content-header h1{
	margin: 0 0 0 29px;
	padding: 0;
	color: #6b6b6b;
	float: left;
	font: normal 22px bebas___-webfont;
	letter-spacing: 2px;
	
}

#content .line {
	margin: 0 0 0 7px;
	clear: both;
	width: 804px;
	height: 1px;
	background-color: #a5a5a5;
}

#content .content-header ul{
	margin: 5px 0 0 0; 
	float: right;
}

#content .content-header li, .cnp-tool li {
	display: inline-block;
}

#content .content-header .icon:hover, .cnp-tool .icon:hover, .cnp-tool .icon.hover {
-moz-box-shadow: inset 0 0 8px #ccc;
    -webkit-box-shadow: inset 0 0 8px #ccc;
    box-shadow: inset 0 0 8px #ccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* future proofing */
	-khtml-border-radius: 4px; /* for old Konqueror browsers */
}

#content .content-header .icon, .cnp-zoom-tool .icon, .cnp-zoom-image-tool .icon {
	display: inline-block;
	padding: 5px;
	margin: 0;
	cursor: default;
}

/*form*/
#form {
	margin: 15px 0 15px 29px;
	padding: 0;
}

#form .clear {
	clear: both; 
	width:400px; 
	height: 15px;
	margin: 0;
	padding: 0;
}

#form input[type="text"] {
	font: italic 12px arial;
	outline: none;
	color: #464646;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#form input[type="radio"] + label, #form input[type="checkbox"] + label {
	font: normal 12px arial;
	color: #464646;
	margin-right: 10px;
	vertical-align: middle;
}

#form p{
	color: #0072bc;
	font: normal 14px HelveticaNeueLTStd55Roman;
	width: 170px;
	height: 25px;
	float: left;
	padding-top: 4px;
	margin: 0;
}

#form .select { 
	padding: 4px 0 4px 3px;
	margin: 0;
	width: 286px;
	font: italic 12px arial;
	outline: none;
	color: #464646;
	-webkit-appearance: none;
	background:transparent;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
	background: url(../images/select-field-button.png) no-repeat right; 
}

#form .select:focus { 
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#form .textbox {
	padding: 0 0 0 3px;
	margin: 0;
	width: 280px;
	height: 25px;
}

#form .textbox:focus {
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#form .checkboxes {
	display: block;
	float: left;
	margin: 0 10px 0 0;
}

#form .textbox03 {
	padding: 0 0 0 3px;
	margin: 0;
	width: 108px;
	height: 22px;
	font: italic 12px arial;
	outline: none;
	color: #464646;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#form .textbox03:focus {
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

/*form02*/
#form02 {
	margin: 0;
	padding: 0;
}

#form02 input[type="file"] {
	padding: 0 0 0 3px;
	margin: 0;
	width: 189px;
	height: 25px;
	font: italic 14px arial;
	outline: none;
	color: #464646;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#form02 p{
	color: #0072bc;
	font: normal 14px HelveticaNeueLTStd55Roman;
	width: 170px;
	height: 25px;
	float: left;
	padding-top: 4px;
	margin: 0;
}

#form02 .select { 
	padding: 4px 0 4px 3px;
	margin: 0;
	width: 80px;
	font: italic 12px arial;
	outline: none;
	color: #464646;
	-webkit-appearance: none;
	background:transparent;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
	background: url(../images/select-field-button.png) no-repeat right; 
}

#form02 .select:focus { 
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#form02 .textbox {
	padding: 0 0 0 3px;
	margin: 0;
	width: 196px;
	height: 25px;
	font: italic 12px arial;
	outline: none;
	color: #464646;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#form02 .textbox:focus {
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#form02 img{
	margin: 0;
	padding: 0;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#form02 ul{
	margin: 0;
	float: left;
}

#form02 li {
	display: block;
	float: left;
	padding: 0;
	margin: 0 2px 0 2px;
}

#form02 .textbox02 {
	padding: 0 0 0 3px;
	margin: 0;
	width: 189px;
	height: 25px;
	font: italic 14px arial;
	outline: none;
	color: #464646;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#form02 .textbox02:focus {
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#form02 .textbox03 {
	padding: 0 0 0 3px;
	margin: 0;
	width: 120px;
	height: 22px;
	font: italic 12px arial;
	outline: none;
	color: #464646;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#form02 .textbox03:focus {
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#form02 button {
	padding: 0;
	margin: 0;
	width: 67px;
	height: 25px;
	font: bold 12px arial;
	outline: none;
	color: #fff;
	border: 1px solid #555555;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
	background-color: #7d7d7d;
}

#form02 button:hover{
	color: white;
	text-shadow: 0px 2px 0px rgba(70, 70, 70, 0.55);
	border: 1px solid #ff5400;
	background: #ffb76b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0OCUiIHN0b3AtY29sb3I9IiNmZmI3NmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZjdmMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffb76b 48%, #ff7f04 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#ffb76b), color-stop(50%,#ff7f04)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb76b 48%,#ff7f04 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb76b 48%,#ff7f04 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb76b 48%,#ff7f04 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb76b 48%,#ff7f04 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-8 */
}

/*address*/
#form_address {
	margin: 0;
	padding: 0;
}

#form_address p{
	color: #0072bc;
	font: normal 14px HelveticaNeueLTStd55Roman;
	width: 170px;
	height: 25px;
	float: left;
	padding-top: 4px;
	margin: 0;
}

#form_address .select { 
	width: 80px;
	height: 27px;
	padding-left: 3px;
	font: italic 12px arial;
	outline: none;
	color: #464646;
	-webkit-appearance: none;
	background:transparent;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
	background: url(../images/select-field-button.png) no-repeat right; 
}

#form_address .select:focus { 
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#form_address .textbox {
	padding: 0 0 0 3px;
	margin: 0;
	width: 280px;
	height: 25px;
	font: italic 12px arial;
	outline: none;
	color: #464646;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#form_address .textbox:focus {
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#form_address .textbox02 {
	padding: 0 0 0 3px;
	margin: 10px 0 0 0;
	width: 280px;
	height: 25px;
	font: italic 12px arial;
	outline: none;
	color: #464646;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#form_address .textbox02:focus {
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#form_address li {
	display: inline;
	padding: 0;
	margin: 0;
}

#form_address ul {
	margin-left: 170px;
	padding: 0px;
}

#form_address .textbox03 {
	padding: 0 0 0 3px;
	margin: 10px 0 0 0;
	width: 93px;
	height: 25px;
	font: italic 12px arial;
	outline: none;
	color: #464646;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#form_address .textbox03:focus {
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

/*form contact info*/

#form_contact {
	margin: 0;
	padding: 0;
}

#form_contact textarea{
	margin: 0;
	padding: 5px 0 0 3px;
	width: 280px;
	height: 250px;
	outline: none;
	color: #464646;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#form_contact textarea:focus {
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#form_contact p{
	color: #0072bc;
	font: normal 14px HelveticaNeueLTStd55Roman;
	padding-top: 4px;
	margin: 0;
}

#form_contact ul{
	margin-left: 109px;
	clear: both;
}

#form_contact li {
	display: inline;
	padding: 0;
	margin: -1px;
}

#form_contact .select {
	width: 60px;
	height: 25px;
	line-height: 25px;
	font: normal 12px arial;
	outline: none;
	color: #464646;
	-webkit-appearance: none;
	background:transparent;
	border: none;
	background: url(../images/arrow.png) no-repeat right center; 
}

#form_contact .select:focus { 
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#form_contact .select02 { 
	padding: 4px 0 4px 3px;
	margin: 0;
	width: 60px;
	font: normal 12px arial;
	outline: none;
	color: #464646;
	-webkit-appearance: none;
	background:transparent;
	border: none;
	background: url(../images/arrow.png) no-repeat right; 
}

#form_contact .textbox {
	padding: 0 0 0 3px;
	margin: 0;
	width: 280px;
	height: 25px;
	font: italic 14px arial;
	outline: none;
	color: #464646;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#form_contact .textbox:focus {
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#form_contact .textbox02 {
	padding: 0 0 0 3px;
	margin: 0;
	width: 178px;
	height: 25px;
	font: italic 14px arial;
	outline: none;
	color: #464646;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#form_contact .textbox02:focus {
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#form_contact .textbox03 {
	padding: 0 0 0 3px;
	margin: 0;
	width: 95px;
	height: 22px;
	font: italic 12px arial;
	outline: none;
	color: #464646;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#form_contact .textbox03:focus {
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#form_contact button {
	padding: 0;
	margin: 0;
	width: 100px;
	height: 25px;
	font: bold 12px arial;
	outline: none;
	color: #fff;
	border: 1px solid #555555;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
	background-color: #7d7d7d;
}

#form_contact button:hover{
	color: white;
	text-shadow: 0px 2px 0px rgba(70, 70, 70, 0.55);
	border: 1px solid #ff5400;
	background: #ffb76b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0OCUiIHN0b3AtY29sb3I9IiNmZmI3NmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZjdmMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffb76b 48%, #ff7f04 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#ffb76b), color-stop(50%,#ff7f04)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb76b 48%,#ff7f04 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb76b 48%,#ff7f04 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb76b 48%,#ff7f04 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb76b 48%,#ff7f04 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-8 */
}

#big_save{
	width: 804px;
	color: white;
	margin: 3px 0 0 7px;
	padding: 5px 0 5px 0;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px; 
	-khtml-border-radius: 3px 3px 3px 3px; 
	background: #005b96;
	border: 1px solid #0f3459;
	cursor: default;
	text-shadow: 0px 2px 0px rgba(70, 70, 70, 0.55);
}

#big_save ul{
	margin: 0 auto;
	padding: 0;
	text-transform: uppercase;
	font: normal 20px bebasneue-webfont;
}

#big_save li{
	display: inline-block;
	padding: 0;
	margin: 0;
}


#big_save img{
	margin: 0 5px 0 0;
}

#big_save:hover{ 
	border: 1px solid #ff5400;
	background: #ffb76b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0OCUiIHN0b3AtY29sb3I9IiNmZmI3NmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZjdmMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffb76b 48%, #ff7f04 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#ffb76b), color-stop(80%,#ff7f04)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb76b 10%,#ff7f04 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb76b 10%,#ff7f04 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb76b 10%,#ff7f04 80%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb76b 10%,#ff7f04 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-8 */
}

/**Accident**/

#scene {
	margin: 0px 7px 0 7px;
	padding: 0;
}

/**upload**/

#upload {
    width: 804px;
    margin: 0px 7px 0 7px;
    padding: 10px 0 10px 0;
    background: #fefefe;
    position: absolute;
    z-index: 1000;
    -moz-box-shadow: inset 0 0 10px #929292;
    -webkit-box-shadow: inset 0 0 10px #929292;
    box-shadow: inset 0 0 10px #929292;
    display: none;
}

#upload form {
    display: block;
    margin: 0 0 0 220px;
    padding: 0;
}


#upload input[type="file"] {
	width: 400px;
	height: 25px;
	font: italic 14px arial;
	outline: none;
	color: #464646;
	background: white;
	padding: 0;
	margin: 0;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#upload button {
    padding: 0;
    margin: 0 0 0 5px;
    width: 100px;
    height: 25px;
    font: bold 12px arial;
    outline: none;
    color: #fff;
    border: 1px solid #555555;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    background-color: #7d7d7d;
}

#upload button:hover {
    color: white;
    text-shadow: 0px 2px 0px rgba(70, 70, 70, 0.55);
    border: 1px solid #ff5400;
    background: #ffb76b;
 /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0OCUiIHN0b3AtY29sb3I9IiNmZmI3NmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZjdmMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffb76b 48%, #ff7f04 50%);
 /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#ffb76b), color-stop(50%,#ff7f04));
 /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffb76b 48%,#ff7f04 50%);
 /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffb76b 48%,#ff7f04 50%);
 /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffb76b 48%,#ff7f04 50%);
 /* IE10+ */
    background: linear-gradient(to bottom,  #ffb76b 48%,#ff7f04 50%);
 /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 );
 /* IE6-8 */
}

#sign {
    width: 804px;
    margin: 0px 7px 0 7px;
    padding: 10px 0 10px 0;
    background: #fefefe;
    position: absolute;
    z-index: 100;
    -moz-box-shadow: inset 0 0 10px #929292;
    -webkit-box-shadow: inset 0 0 10px #929292;
    box-shadow: inset 0 0 10px #929292;
    display: none;
}

#sign form {
    display: block;
    margin: 0 0 0 180px;
    padding: 0;
}

#sign input[type="text"] {
    width: 350px;
    height: 25px;
    font: italic 14px arial;
    outline: none;
    color: #464646;
    background: white;
    padding: 0;
    margin: 0;
    border: 1px solid #cccccc;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
}

#sign button {
    padding: 0;
    margin: 0 0 0 5px;
    width: 100px;
    height: 25px;
    font: bold 12px arial;
    outline: none;
    color: #fff;
    border: 1px solid #555555;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    background-color: #7d7d7d;
}

#sign button:hover {
    color: white;
    text-shadow: 0px 2px 0px rgba(70, 70, 70, 0.55);
    border: 1px solid #ff5400;
    background: #ffb76b;
 /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0OCUiIHN0b3AtY29sb3I9IiNmZmI3NmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZjdmMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffb76b 48%, #ff7f04 50%);
 /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#ffb76b), color-stop(50%,#ff7f04));
 /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffb76b 48%,#ff7f04 50%);
 /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffb76b 48%,#ff7f04 50%);
 /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffb76b 48%,#ff7f04 50%);
 /* IE10+ */
    background: linear-gradient(to bottom,  #ffb76b 48%,#ff7f04 50%);
 /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 );
 /* IE6-8 */
}



/**signage**/

#signage {
    width: 804px;
    margin: 0px 7px 0 7px;
    padding: 10px 0 10px 0;
    background: #fefefe;
    position: absolute;
    z-index: 1000;
    -moz-box-shadow: inset 0 0 10px #929292;
    -webkit-box-shadow: inset 0 0 10px #929292;
    box-shadow: inset 0 0 10px #929292;
    display: none;
}

#signage form {
    display: block;
    margin: 0 0 0 110px;
    padding: 0;
}

#signage input[type="text"] {
    width: 300px;
    height: 25px;
    font: italic 14px arial;
    outline: none;
    color: #464646;
    background: white;
    padding: 0;
    margin: 0;
    border: 1px solid #cccccc;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
}

#signage button {
    padding: 0;
    margin: 0 0 0 2px;
    width: 100px;
    height: 25px;
    font: bold 12px arial;
    outline: none;
    color: #fff;
    border: 1px solid #555555;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    background-color: #7d7d7d;
}

#signage button:last-child {
    width: 70px;
}

#signage button:hover {
    color: white;
    text-shadow: 0px 2px 0px rgba(70, 70, 70, 0.55);
    border: 1px solid #ff5400;
    background: #ffb76b;
 /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0OCUiIHN0b3AtY29sb3I9IiNmZmI3NmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZjdmMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffb76b 48%, #ff7f04 50%);
 /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#ffb76b), color-stop(50%,#ff7f04));
 /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffb76b 48%,#ff7f04 50%);
 /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffb76b 48%,#ff7f04 50%);
 /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffb76b 48%,#ff7f04 50%);
 /* IE10+ */
    background: linear-gradient(to bottom,  #ffb76b 48%,#ff7f04 50%);
 /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 );
 /* IE6-8 */
}

#signage button[disabled], #signage button[disabled]:hover {
    color: #ccc;
    text-shadow: 0px 2px 0px rgba(70, 70, 70, 0.55);
    border: 1px solid #ff5400;
    background: none;
    background-color: #7d7d7d;
    border: 1px solid #555555;
}

#signage .select {
    padding: 4px 0 4px 3px;
    margin: 0 2px 0 2px;
    width: 120px;
    font: italic 12px arial;
    outline: none;
    color: #464646;
    -webkit-appearance: none;
    border: 1px solid #cccccc;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    background: #fff url(../images/select-field-button.png) no-repeat right;
}

/**color picker**/

#color {
	width: 804px; 
	margin: 0px 7px 0 7px;
	padding: 10px 0 10px 0;
	background: #fefefe;
	position: absolute;
	z-index: 1000;
	-moz-box-shadow: inset 0 0 10px #929292;
    -webkit-box-shadow: inset 0 0 10px #929292;
    box-shadow: inset 0 0 10px #929292;
	display:none;
}

#color div{
	margin: 0 8px 0 230px;
	padding: 10px 0 0 0;
	display: block;
	z-index: 1000px;
	height: 25px;
	float: left;
	font: bold 14px arial;
	color: #464646;
}

#color ul {
	margin: 0;
	padding: 0;
	display: block;
	height: 35px;
	float: left;
}

#color li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

#color li:hover {
	-moz-box-shadow: inset 0 0 10px #000;
    -webkit-box-shadow: inset 0 0 10px #000;
    box-shadow: inset 0 0 10px #000;
}

#color li:first-child {height: 35px; width: 35px; background: green;}
#color li:nth-child(2) {height: 35px; width: 35px; background: red; }
#color li:last-child {height: 35px; width: 35px; background: blue; }


/**Notice**/


.notifier {
	font-family: bebasneue-webfont;
	font-size: 16px;
	letter-spacing: 2px;
	color: #0c4f66;
	display: block;
	float: right; 
	margin: 8px 10px 8px 8px;
	text-shadow: 0px 2px 0px rgba(212, 239, 255, 0.55);
}


.cnp-tool {
  background-color: #fff;
  padding: 5px 0 0 5px;
  position: absolute;
  z-index: 100;
  border-radius: 3px
}

.cnp-zoom-tool {
  width: 205px;
  top: 10px;
  left: 10px;
  height: 36px;
}

.cnp-zoom-image-tool {
  width: 36px;
  top: 10px;
  left: 225px;
  height: 36px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  transtion: all 0.2s ease;
}

.cnp-zoom-image-tool.active {
    width: 192px;
}

.cnp-zoom-current {
  position: absolute !important;
  right: 10px;
  top: 12px;
  font-weight: bold;
  color: #FFA11B;
}

.cnp-delete-tool {
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
}
.cnp-delete-tool a {
  padding: 8px 5px;
  position: relative;
  top: 4px;
}

.cnp-color-picker-tool {
  width: 120px;
  left: 10px;
  top: 60px;
  padding: 5px;
  display: none;
}
.cnp-color-picker-tool h3 {
  margin: 0;
  padding: 0;
  color: #7F7F7F;
  font-size: 12px
}
.cnp-color-picker-tool li {
  width: 100%;
  display: block;
}
.cnp-color-picker-tool a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  padding: 6px 0;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 4px;
  border-radius: 3px
}

.cnp-color-picker-tool-plaintiff {
  background-color: #6DB81F;
}
.cnp-color-picker-tool-defendant {
  background-color: #D12626;
}
.cnp-color-picker-tool-neutral {
  background-color: #4372CE;
}

#workspace {
  position: relative
}

.cnp-mouse-move:hover {
  cursor: move;
}

.display-help li {
	position: relative;
}
.display-help li:after {
	content: attr(title);
	position: absolute;
	bottom: -4px;
	left: 0;
	font-size: 11px;
	background-color: #000;
	color: #fff;
	display: inline-block;
	opacity: 0.8;
	white-space: nowrap;
}

.display-help .cnp-zoom-image-tool {
	overflow: visible;
}
.display-help .cnp-zoom-image-tool li {
	visibility: hidden;
}
.display-help .cnp-zoom-image-tool li:first-child {
	visibility: visible;
}

.display-help .content-header {
	position: relative;
	z-index: 10;
}

.display-help .cnp-create-label:after {
	bottom: auto;
	top: -8px;
}

.display-help .cnp-save:after {
	bottom: auto;
	top: -8px;
}

.cnp-help a {
	color: #fff;
	background-color: rgba(0,0,0, 0.7);
	border-radius: 100px;
	padding: 4px;
	height: 10px;
	width: 10px;
	display: block;
	font-size: 14px;
	font-weight: bold;
	line-height: 10px;
	position: relative;
	top: -5px;
}

.cnp-help {
	display: none !important;

}

.isMobile .cnp-help {
	display: inline-block !important;
}